<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="GoogleGeocodingApi" value="https://maps.googleapis.com/maps/api/geocode/xml?address="/>
    <add key="GoogleDistanceMatrixApi" value ="https://maps.googleapis.com/maps/api/distancematrix/xml?units=imperial"/>
    <add key="GeocodingApiKey" value="AIzaSyCva5NKDMIoycinvXynSwCSdUiU8Yqvx7k"/>
    <add key="DistanceMatrixApiKey" value="AIzaSyBge8Whj0eBxc07nG9H6vsTtmAH4js1AuE"/>
  </appSettings>
</configuration>